.hero {

    text-align: center;
    
    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 1600px;
    max-height: 600px;


    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);

    background-position: center;
    background-color: $heder-backg-color;
    background-repeat: no-repeat;
    background-size: cover;



    @media screen and (min-width: 480px) and (min-device-pixel-ratio: 2),
        screen and (min-width: 480px) and (min-resolution: 192dpi),
        screen and (min-width: 480px) and (min-resolution: 2dppx) {

            padding: 118px 60px;
            // padding-bottom: 118px;
           
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                        url(../images/mobile/header-mobile.jpg);
    
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/header-mobile@2x.jpg);
            
        }


    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) {

        padding: 118px 204px;
        // padding-bottom: 118px;

        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/mobile/header-tablet.jpg);

        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/header-teblet@2x.jpg);

    }

    @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
             
        padding-top: 200px;
            padding-bottom: 200px;
                 // min-width: 1200px;
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero.jpg);
            background-image:
                linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero@2x.jpg);
             
         }


    .hero__title {
    

            // 
            margin: 0 auto;
            margin-bottom: 30px;
    
            color: $main-backg-color;
            font-weight: 900;
            font-size: 26px;
            line-height: 1.62;
            // font-size: 44px;
            // line-height: 1.36;
            letter-spacing: 0.06em;
            text-transform: uppercase;

            @media screen and (min-width:1200px) {
                width: 696px;
                font-size: 44px;
                line-height: 1.36;
                    /* or 136% */
                
                text-align: center;
            }
    
        }

}

